p ,div { color:coral;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      
     font-weight: 300;
     #one
     * { 
         font-family: Arial, Verdana, sans-serif;} 
         h1 { font-family: "Courier New", monospace;} 
         i { color: green;} i { color: red;}
          b { color: pink;} 
          p  b { color: blue !important;} 
          p  b { color: violet;} p#intro { font-size: 100%;} p {
               font-size: 75%;}
